body { padding-top: 70px;}

.TopBar{
}

/* .Login{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 60%;
}
.Register{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 70%;
} */