.Login{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 60%;
}
.Register{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 70%;
}

.LoginHeader {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.7em;
    margin-left: 30%;
    margin-right: 0;
}

.RegisterHeader {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.7em;
    margin-left: 12%;
    margin-right: 0;
}