body {
    padding-top: 70px;
}

#collasible-nav-dropdown {
    color: darkgray;
    /* font-weight: bold; */
    /* background-color: ; */
}

.link {
    color: #FFF;
}

.link:hover {
    color: #FFF;
    text-decoration: none;
}