<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Create Project wo ID</h2>


<form action="#" th:action="@{/create}" method="get">

    <p>Creator ID <input type="text" th:name="creatorId" /></p>
    <p>Name<input type="text" th:name="name" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>


<div th:if="${addedProject}">
    <br>
    <div th:if="${addedProject.id}">
        <div th:if="${addedProject.id} > 0">
            <h3>Added Project</h3>
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td th:text="${addedProject.id}"/>
                </tr>
                <tr>
                    <td>Creator ID</td>
                    <td th:text="${addedProject.creatorId}"/>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${addedProject.name}"/>
                </tr>
            </table>
        </div>
        <div th:if="${addedProject.id}==-1">
            <p>Project not found</p>
        </div>
    </div>
</div>

<br>
<p>Back to <a href="/">home</a></p>


<h2>Updated table projects </h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Creator ID</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.creatorId}"></td>
        <td th:text="${project.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>