<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Find Project by ID</h2>

<h3>Search</h3>
<form action="#" th:action="@{/find}" method="get">
    <p>Project ID <input type="text" th:name="id"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<div th:if="${project}">
    <br>
    <div th:if="${project.id}">
        <div th:if="${project.id} > 0">
            <h3>Result</h3>
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td th:text="${project.id}"/>
                </tr>
                <tr>
                    <td>Creator ID</td>
                    <td th:text="${project.creator_id}"/>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${project.name}"/>
                </tr>
            </table>
        </div>
        <div th:if="${project.id}==-1">
            <p>Project not found</p>
        </div>
    </div>
</div>

<br>
<p>Back to <a href="/">home</a></p>
</body>
</html>