<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Find Project by name</h2>

<h3>Search</h3>
<form action="#" th:action="@{/findProjectByName}" method="get">
    <p>Project name <input type="text" th:name="name"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>




        <div th:if="${error} ==1">
            <h3>Result</h3>
            <h2>Project with name =
                <div th:text="${name}"></div>

                <table border="1">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Creator ID</th>
                        <th>name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${project.id}"></td>
                        <td th:text="${project.creator_id}"></td>
                        <td th:text="${project.name}"></td>
                    </tr>
                    </tbody>
                </table>

        </div>
        <div th:if="${error}==2">
            <p>Project not found</p>
        </div>
        <div th:if="${error}==-1">
            <p>Please type name of the project</p>
        </div>



<br>
<p>Back to <a href="/">home</a></p>
</body>
</html>