<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Find Project by ID</h2>

<h3>Search</h3>
<form action="#" th:action="@{/findProjectsByCreatorId}" method="get">
    <p>Creator ID <input type="text" th:name="creator_id"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<div th:if="${creator_id}">
    <br>
    <div th:if="${creator_id}">
        <div th:if="${creator_id} > 0">
            <h3>Result</h3>
            <h2> All projects belong to User with ID=
                <div th:text="${creator_id}"></div>

                <table border="1">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Creator ID</th>
                        <th>name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${projects}">
                        <td th:text="${project.id}"></td>
                        <td th:text="${project.creator_id}"></td>
                        <td th:text="${project.name}"></td>
                    </tr>
                    </tbody>
                </table>

        </div>
        <div th:if="${creator_id}==-1">
            <p>Projects not found</p>
        </div>
    </div>
</div>

<br>
<p>Back to <a href="/">home</a></p>
</body>
</html>