<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/update}" method="get">
    <p>Project ID <input type="text" th:name="id" /></p>
    <p>Creator ID <input type="text" th:name="creator_id" /></p>
    <p>Name <input type="text" th:name="name" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>

<div th:if="${newProject}">
    <br>
    <div th:if="${newProject.id}">
        <div th:if="${newProject.id} > 0">
            <h3>Updated Project</h3>
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td th:text="${newProject.id}"/>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${newProject.creator_id}"/>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td th:text="${newProject.name}"/>
                </tr>
            </table>
        </div>
        <div th:if="${newProject.id}==-1">
            <p>Project not found</p>
        </div>
    </div>
</div>

<br>
<p>Back to <a href="/">home</a></p>


<h2>Updated table projects </h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Creator ID</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.creator_id}"></td>
        <td th:text="${project.name}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>